/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}
.content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.name-small {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.goals__list {
  margin: 0;
  padding: 0px;
}
.goal {
  list-style: none;
}
.goal__cb,
.goal__text,
.goal__btn {
    outline: none;
}
.goal__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.goal__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.goals__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.goal__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.goal__text:focus {
  color: #333;
}

/* New Task */
.goal__text#new-goal {
  width: 84%;
  display: flex;
}

/* Task list */
.goal {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goal > * {
  vertical-align: middle;
}

.goal__cb {
  margin: 0 10px;
}
.goal__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.goal__text {
  width: 226px;
}
.goal__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.goal__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.goals__list#completed-tasks .goal__name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.goal__text {
  display: none;
}

.goal.edit-mode .goal__text {
  display: inline-block;
  width: 224px;
}

.goal.edit-mode .goal__name {
  display: none;
}